<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="team.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <!--tombol back cok-->
    <div class="back-button">
      <a href="hexapixl.html"> <i class="fa fa-arrow-left"></i></a>
    </div>

    <!--typing effect-->
    <div class="wrapper">
      <div class="typing-demo">Introducing our members...</div>
    </div>
    <!--team card-->
    <div class="team-container">
      <div class="team-card">
        <div class="team-image">
          <img src="ariel.png" alt="Team Member 1" />
        </div>
        <div class="team-info">
          <h3>Ariel Walandouw</h3>
          <p>210211060152</p>
        </div>
      </div>
      <div class="team-card">
        <div class="team-image">
          <img src="serena.png" alt="Team Member 2" />
        </div>
        <div class="team-info">
          <h3>Serena Kasenda</h3>
          <p>210211060216</p>
        </div>
      </div>
      <div class="team-card">
        <div class="team-image">
          <img src="xing.png" alt="Team Member 3" />
        </div>
        <div class="team-info">
          <h3>Christopher Saiyang</h3>
          <p>21021106088</p>
        </div>
      </div>
    </div>
  </body>
</html>
